* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: rgb(197, 197, 197);
    flex-direction: column;
    background-image: url(images/big-cat.jpg);
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.lil-guy {
    max-width: 300px;
    width: clamp(100px, 40vw, 300px);
    margin-top: min(8%, 40px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.8);

    box-shadow: 3px 3px 10px 5px rgba(221, 220, 220, 0.5);
    transition: 0.15s;
}

.lil-guy:hover {
    box-shadow: 3px 3px 10px 5px rgba(221, 220, 220);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    max-width: 2000px;
    margin-top: min(30%, 50px);
    width: 100%;
    flex-direction: column;
}

.input-field {
    border: none;
    background-color: rgb(41, 41, 41);
    color: rgb(255, 247, 247);
    font-family: sans-serif;
    padding: min(3%, 16px) min(6%, 24px);

    width: clamp(230px, 50%, 600px);
    font-size: clamp(0.6rem, 3vw, 1.5rem);

    border-radius: 30px;
    border: 2px solid #f2f2f2;
    text-align: center;
}

.results {
    width: clamp(200px, 80%, 700px);
    border: 2px solid #f0f0f0;
    margin-top: min(20%, 40px);
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
    margin-bottom: min(10%, 30px);
}

.link {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    margin: 15px 0;
    color: rgb(5, 13, 85);
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    color: #222;
}

.footer {
    background-color: #f0f0f0;
    padding: 20px;
    color: #888;
    margin-bottom: min(30%, 80px);
}